<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zwitter</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class = "bg-gray-900 h-screen w-screen flex flex-col items-center gap-3">
        <h1 class = "text-6xl font-bold text-center text-white pt-4">Zwitter ! </h1>
    </div>
</body>
</html>